/** reset CSS */
* {
  box-sizing: border-box;
}

html, body, div, span, video, img, nav,
header, footer, section, ol, ul, li, button, span {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

button {
  background-color: transparent;
}

ol, ul {
  list-style: none;
}

/** style tokens */
:root {
  --background-color: red;
  --button-font-size: 13px;
  --aspect-ratio: 9/16;
}

/** styles */
.videoContainer {
  width: 50vw;
  height: calc(50vw * var(--aspect-ratio));
  position: relative;
}

#videoBasic {
  position: absolute;
  object-fit: fill;
  width: 100%;
  height: 100%;
  /* display: none; */
}

.video-controls {
  position: absolute;
  bottom: 0;
  text-shadow: 0 0 2px rgb(0 0 0 / 50%);
  height: 43px;
  width: 100%;
  padding: 0 12px;
  /* padding-top: 3px; */
  /* background-color: blue; */
  color: #ddd;
  font-size: var(--button-font-size);
}
.progress-bar {
  /* position: absolute; */
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}
.watched {
  background-color: #f00;
  height: 100%;
  width: 0%;
}
.control-buttons {
  position: relative;
  width: 100%;
  height: 100%;
}
.left-buttons {
  position: absolute;
  display: flex;
  height: 100%;
}
.right-buttons {
  position: absolute;
  height: 100%;
  max-width: 240px;
  right: 0;
}
.time-display {
  padding: 0 5px;
  line-height: 39px;
}

.svg-fill {
  fill: #fff;
}

.play-btn {
  /* height: 100%; */
  width: 46px;
  /* display: inline; */
}
.next-btn {
  height: 100%;
  width: 40px;
}
.volume {
  width: 40px;
}

.root {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: grid;
  grid-template-areas: 'nav nav'
                       'section aside';
  grid-template-rows: 65px auto;
  grid-auto-columns: auto minmax(300px, 402px);
  border: 1px solid blue;
}

.navWrap {
  grid-area: nav;
  background-color: khaki;
}
.mainWrap {
  grid-area: section;
  background-color: lightcoral;
}
.asideWrap {
  grid-area: aside;
  background-color: lightcyan;
}
.videoCtr {
 /* background-color: blue; */
 width: 100%;
 height: 100%;
}

.video_wrapper {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  grid-area: 'section';
}

.recommendContainer {
  border: 1px solid red;
  /* height: 50vh; */
  grid-area: 'aside';
}

.navContainer {
  border: 1px solid red;
  /* height: 50vh; */
}

@media (max-width: 1000px) {
  .root {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: grid;
    grid-template-areas: 'nav'
                         'section'
                         'aside';
  }
  
}