/** reset CSS */
* {
  box-sizing: border-box;
}

html, body, div, span, video, img, nav,
header, footer, section, ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
}

ol, ul {
  list-style: none;
}

/** style tokens */
:root {
  --background-color: red;
}

/** styles */
.root {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  display: grid;
  grid-template-areas: 'nav nav'
                       'section aside';
  grid-template-rows: 65px auto;
  grid-auto-columns: auto minmax(300px, 402px);
  border: 1px solid blue;
}

.navWrap {
  grid-area: nav;
  background-color: khaki;
}
.mainWrap {
  grid-area: section;
  background-color: lightcoral;
}
.asideWrap {
  grid-area: aside;
  background-color: lightcyan;
}
.videoContainer {
  width: 50vw;
  /* height: 50vh; */
  border: 1px solid red;
}
.videoCtr {
 /* background-color: blue; */
 width: 100%;
 height: 100%;
}

.video_wrapper {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  grid-area: 'section';
}

.recommendContainer {
  border: 1px solid red;
  /* height: 50vh; */
  grid-area: 'aside';
}

.navContainer {
  border: 1px solid red;
  /* height: 50vh; */
}

@media (max-width: 1000px) {
  .root {
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
    display: grid;
    grid-template-areas: 'nav'
                         'section'
                         'aside';
  }
  
}